//output:index.html
doctype html
html
  head
    meta(charset="UTF-8")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      )
    title Matthew Robertson
    link(
      type="text/css"
      rel="stylesheet"
      href="css/mat.css"
      )
    link(
      type="text/css"
      rel="stylesheet"
      href="css/style.css"
      )
    link(
      href="http://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
      )
  body
    //-
      navbar
    div.navbar-fixed
      nav.blue-grey
        div.nav-wrapper
          a(href="#" class="brand-logo" id="resume") Matthew Robertson
          a(href="#" data-activates="mobile-demo" class="button-collapse")
            i.material-icons menu
          ul.right.hide-on-med-and-down
            li
              a(href="#about") About
            li
              a(href="#skills") Skills
            li
              a(href="#my-work") My Work
            li
              a(href="#contact") Contact
          ul(class="side-nav" id="mobile-demo")
            li
              a(href="#about") About
            li
              a(href="#skills") Skills
            li
              a(href="#my-work") My Work
            li
              a(href="#contact") Contact
      //-
        hero image
    div#hero-img
      img(src="img/logo-bg.svg")
      
    div.container
    
      div#about
        h1.hide-on-small-only.center-align.section About Me
        h3.hide-on-med-and-up.center-align.section About Me
        div.divider
        
        div#tilt
          h2.hide-on-small-only.blue-text.text-darken-3 Hi, My name is Matthew Robertson!
          h4.hide-on-med-and-up.blue-text.text-darken-3 Hi, My name is Matthew Robertson!
        div.section.center-align
          p I am a front end web developer based in North Carolina. I have been developing on the web for about a year now. 
          p I have built several personal projects such as a connect four game and Wikipedia viewer, but you can check out those and more below.
          p A graduate of UNCG, my goals for the future are to further my front end and backend programming knowledge with the hopes of building a career.
          br
          img(src="img/uncg.png")#uncg-logo
          p Thanks for checking out my portfolio, I look forward to hearing from you!
    
      div#skills.row
        h1.hide-on-small-only.center-align.section My Skills
        h3.hide-on-med-and-up.center-align.section My Skills
        div.divider
        div.card.row.hide-on-med-and-up
          div.col.s6.center-align
            div.col.s12
              h6 HTML
              div.amber-text.text-darken-4
                i.tiny.material-icons.center-align stars
                i.tiny.material-icons.center-align stars
                i.tiny.material-icons.center-align stars
                i.tiny.material-icons.center-align stars
            div.col.s12
              h6 CSS
              div.amber-text.text-darken-4
                i.tiny.material-icons.center-align stars
                i.tiny.material-icons.center-align stars
                i.tiny.material-icons.center-align stars
                i.tiny.material-icons.center-align stars
            div.col.s12
              h6 JavaSript
              div.amber-text.text-darken-4
                i.tiny.material-icons.center-align stars
                i.tiny.material-icons.center-align stars
                i.tiny.material-icons.center-align stars
            div.col.s12
              h6 Jade
              div.amber-text.text-darken-4
                i.tiny.material-icons.center-align stars
                i.tiny.material-icons.center-align stars
                i.tiny.material-icons.center-align stars
            div.col.s12
              h6 Git
              div.amber-text.text-darken-4
                i.tiny.material-icons.center-align stars
                i.tiny.material-icons.center-align stars
                i.tiny.material-icons.center-align stars
            div.col.s12
              h6 Node.js
              div.amber-text.text-darken-4
                i.tiny.material-icons.center-align stars
                i.tiny.material-icons.center-align stars
            div.col.s12
              h6 Photoshop
              div.amber-text.text-darken-4
                i.tiny.material-icons.center-align stars
                i.tiny.material-icons.center-align stars
          div.col.s6.center-align
            div.col.s12
              h6 jQuery
              div.amber-text.text-darken-4
                i.tiny.material-icons.center-align stars
                i.tiny.material-icons.center-align stars
                i.tiny.material-icons.center-align stars
                i.tiny.material-icons.center-align stars
            div.col.s12
              h6 BootStrap
              div.amber-text.text-darken-4
                i.tiny.material-icons.center-align stars
                i.tiny.material-icons.center-align stars
                i.tiny.material-icons.center-align stars
                i.tiny.material-icons.center-align stars
            div.col.s12
              h6 Sass
              div.amber-text.text-darken-4
                i.tiny.material-icons.center-align stars
                i.tiny.material-icons.center-align stars
                i.tiny.material-icons.center-align stars
            div.col.s12
              h6 Responsive Design
              div.amber-text.text-darken-4
                i.tiny.material-icons.center-align stars
                i.tiny.material-icons.center-align stars
                i.tiny.material-icons.center-align stars
            div.col.s12
              h6 GitHub
              div.amber-text.text-darken-4
                i.tiny.material-icons.center-align stars
                i.tiny.material-icons.center-align stars
                i.tiny.material-icons.center-align stars
            div.col.s12
              h6 Material Design
              div.amber-text.text-darken-4
                i.tiny.material-icons.center-align stars
                i.tiny.material-icons.center-align stars
            div.col.s12
              h6 React
              div.amber-text.text-darken-4
                i.tiny.material-icons.center-align stars      
      
        div.hide-on-small-only
          div.col.s12.m6              
            table
              tbody
                tr
                  td
                    h5 HTML
                  td.amber-text.text-darken-4
                    i.small.material-icons stars
                    i.small.material-icons stars
                    i.small.material-icons stars
                    i.small.material-icons stars
                tr
                  td 
                    h5 CSS
                  td.amber-text.text-darken-4
                    i.small.material-icons stars
                    i.small.material-icons stars
                    i.small.material-icons stars
                    i.small.material-icons stars
                tr
                  td 
                    h5 JavaSript
                  td.amber-text.text-darken-4
                    i.small.material-icons stars
                    i.small.material-icons stars
                    i.small.material-icons stars
                tr
                  td 
                    h5 Jade
                  td.amber-text.text-darken-4
                    i.small.material-icons stars
                    i.small.material-icons stars
                    i.small.material-icons stars
                tr
                  td 
                    h5 Git
                  td.amber-text.text-darken-4
                    i.small.material-icons stars
                    i.small.material-icons stars
                    i.small.material-icons stars
                tr
                  td 
                    h5 Node.js
                  td.amber-text.text-darken-4
                    i.small.material-icons stars
                    i.small.material-icons stars
                tr
                  td 
                    h5 Photoshop
                  td.amber-text.text-darken-4
                    i.small.material-icons stars
                    i.small.material-icons stars
          div.col.s12.m6
            table
              tbody
                tr
                  td 
                    h5 jQuery
                  td.amber-text.text-darken-4
                    i.small.material-icons stars
                    i.small.material-icons stars
                    i.small.material-icons stars
                    i.small.material-icons stars
                tr
                  td 
                    h5 BootStrap
                  td.amber-text.text-darken-4
                    i.small.material-icons stars
                    i.small.material-icons stars
                    i.small.material-icons stars
                    i.small.material-icons stars
                tr
                  td 
                    h5 Sass
                  td.amber-text.text-darken-4
                    i.small.material-icons stars
                    i.small.material-icons stars
                    i.small.material-icons stars
                tr
                  td 
                    h5 Responsive Design
                  td.amber-text.text-darken-4
                    i.small.material-icons stars
                    i.small.material-icons stars
                    i.small.material-icons stars
                tr
                  td 
                    h5 GitHub
                  td.amber-text.text-darken-4
                    i.small.material-icons stars
                    i.small.material-icons stars
                    i.small.material-icons stars
                tr
                  td 
                    h5 Material Design
                  td.amber-text.text-darken-4
                    i.small.material-icons stars
                    i.small.material-icons stars
                tr
                  td 
                    h5 React
                  td.amber-text.text-darken-4
                    i.small.material-icons stars
              
        //-
          examples of work
          
      div#my-work.row
        h1.hide-on-small-only.center-align.section What I've Made
        h3.hide-on-med-and-up.center-align.section What I've Made
        div.divider
      
        div.col.s12.m6
          div.card
            div.card-image.waves-effect.waves-block.waves-light
              img(src="img/tic-tac-toe.png").activator
            div.card-content
              span.card-title.activator.grey-text.text-darken-4 Tic Tac Toe
                i.material-icons.right more_vert
              p
                a(href="http://codepen.io/mrmatt1877/full/oxdbXg").blue-text.text-darken-4 View the code
            div.card-reveal
              span.card-title.activator.grey-text.text-darken-4 Tic Tac Toe
                i.material-icons.right close
                h4 Try to get three in a row, in this classic paper and pencil game.
                p Designed to be defensive because not being able to win is no fun.
                div.row
                  div.col.s6
                    h6 HTML
                    h6 CSS 
                    h6 BootStrap
                  div.col.s6
                    h6 JavaSript
                    h6 jQuery
                
              
        div.col.s12.m6
          div.card
            div.card-image.waves-effect.waves-block.waves-light
              img(src="img/connect-four.png").activator
            div.card-content
              span.card-title.activator.grey-text.text-darken-4 Connect Four
                i.material-icons.right more_vert
              p
                a(href="http://codepen.io/mrmatt1877/full/PNBGNP/").blue-text.text-darken-4 View the code
            div.card-reveal
              span.card-title.activator.grey-text.text-darken-4 Connect Four
                i.material-icons.right close
                h4 The classic board game.
                p Designed with the color scheme of the original. Built to simulate that old school feel.
                div.row
                  div.col.s6
                    h6 HTML
                    h6 CSS 
                    h6 BootStrap
                  div.col.s6
                    h6 JavaSript
                    h6 jQuery
              
        div.col.s12.m6
          div.card
            div.card-image.waves-effect.waves-block.waves-light
              img(src="img/simon.png").activator
            div.card-content
              span.card-title.activator.grey-text.text-darken-4 Simon
                i.material-icons.right more_vert
              p
                a(href="http://codepen.io/mrmatt1877/full/YqjrOx").blue-text.text-darken-4 View the code
            div.card-reveal
              span.card-title.activator.grey-text.text-darken-4 Simon
                i.material-icons.right close
                h4 Can you keep up?
                p Designed with a strict mode where if you miss a beat you fail and a casual mode.
                div.row
                  div.col.s6
                    h6 HTML
                    h6 CSS 
                    h6 BootStrap
                  div.col.s6
                    h6 JavaSript
                    h6 jQuery
        
        div.col.s12.m6
          div.card
            div.card-image.waves-effect.waves-block.waves-light
              img(src="img/calculator.png").activator
            div.card-content
              span.card-title.activator.grey-text.text-darken-4 Calculator
                i.material-icons.right more_vert
              p
                a(href="http://codepen.io/mrmatt1877/full/oxwrRM").blue-text.text-darken-4 View the code
            div.card-reveal
              span.card-title.activator.grey-text.text-darken-4 Calculator
                i.material-icons.right close
                h4 What else is there to explain?
                p Designed to do simple computations.
                div.row
                  div.col.s6
                    h6 HTML
                    h6 CSS 
                    h6 BootStrap
                  div.col.s6
                    h6 JavaSript
                    h6 jQuery
        
        div.col.s12.m6
          div.card
            div.card-image.waves-effect.waves-block.waves-light
              img(src="img/wiki-viewer.png").activator
            div.card-content
              span.card-title.activator.grey-text.text-darken-4 Wikipedia Viewer
                i.material-icons.right more_vert
              p
                a(href="http://codepen.io/mrmatt1877/full/BKQVxa").blue-text.text-darken-4 View the code
            div.card-reveal
              span.card-title.activator.grey-text.text-darken-4 Wikipedia Viewer
                i.material-icons.right close
                h4 A better looking search page for Wikipedia.
                p When the user inputs their data, a request is made to Wikipedia and the data is returned and beautified.
                div.row
                  div.col.s6
                    h6 HTML
                    h6 CSS 
                    h6 BootStrap
                    h6 Wikipedia api
                  div.col.s6
                    h6 JavaSript
                    h6 jQuery
                    h6 JSON
                    h6 AJAX
        
        div.col.s12.m6
          div.card
            div.card-image.waves-effect.waves-block.waves-light
              img(src="img/quote-generator.png").activator
            div.card-content
              span.card-title.activator.grey-text.text-darken-4 Motivational Quote Generator
                i.material-icons.right more_vert
              p
                a(href="http://codepen.io/mrmatt1877/full/aNvYbB").blue-text.text-darken-4 View the code
            div.card-reveal
              span.card-title.activator.grey-text.text-darken-4 Motivational Quote Generator
                i.material-icons.right close
                h4 Click the button to get a quote... and another one.
                p Designed to randomly select a quote from an array of proven and effective motivational quotes.
                div.row
                  div.col.s6
                    h6 HTML
                    h6 CSS 
                    h6 BootStrap
                  div.col.s6
                    h6 JavaSript
                    h6 jQuery
                    
    footer#contact.page-footer.blue-grey
      div.container
        div.row
          div.col.l6.s12
            h5.white-text Here's how you can reach me.
            p.grey-text.text-lighten-2 Feel free to contact me with any questions or feedback you have about this site. If you want to know more about how I got started coding, I am open to talk about it or point you in the right direction.
            p.grey-text.text-lighten-2 If you are wanting to hire me, please send me an email and we can start a dialoge.
          div.col.l4.offset-12.s12
            h5.white-text Contact 
            ul
              li.btn-pad
                a(href="mailto:matthewebdev@gmail.com").btn.grey.darken-4 Email
                  i.material-icons.right email
              li.btn-pad
                a(href="https://github.com/mrmatt1877").btn.grey.darken-4 GitHub
                  i.material-icons.right code
              li.btn-pad
                a(href="https://www.freecodecamp.com/mrmatt1877").btn.grey.darken-4 freeCodeCamp
                  i.material-icons.right forum
              li.btn-pad
                a(href="https://www.linkedin.com/in/matthewsrobertson").btn.grey.darken-4 LinkedIn
                  i.material-icons.right person_pin
              li.btn-pad
                a(href="img/Matthew Robertson.pdf" download).btn.grey.darken-4 Resume
                  i.material-icons.right work
      div.footer-copyright
        div.container.center-align © 2016 Matthew Robertson
            
    script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(type="text/javascript" src="js/materialize.min.js")
    script(src="js/index.js")
